<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steamed Bun Invasion</title>
    <link rel="icon" href="/image/包子.svg" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="../css/show.css" />
  </head>

  <body>
    <div class="show-container">
      <div class="left">
        <h1><%= article.title %></h1>
        <span><%= article.createdAt.toLocaleDateString() %></span>
        <div class="link-container">
          <a href="/">#Home</a
          ><a href="/articles/edit/<%= article.id %>">#edit</a>
          <!-- <a href="/articles/<%= article.id %>?_method=DELETE" method="POST">#delete</a> -->

          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">#delete</button>
          </form>

        </div>
      </div>
      <div class="right">
        <p><%- article.sanitizedHtml %></p>
      </div>
    </div>
  </body>
</html>
